{# file: hosts.j2 #}
{# becomes: /etc/hosts #}
127.0.0.1 localhost
127.0.2.1 {{ my_hostname.stdout }}
127.0.1.1       ubuntu-jammy    ubuntu-jammy

{% for host in groups['all'] %}
{# if my_hostname.stdout != host #}
{{ ansible_host }} {{ host }}
{# endif #}
{% endfor %}

